/* styles.css */

body {
 background-color: #16181a !important;
 color: hsl(211, 85%, 21%);
}

label {
 font-size: 20px;
 color: #66034d;
 letter-spacing: 2px;
 margin-bottom: 0 !important;
}

.form-control {
 height: 60px !important;
 width: 40% !important;
 margin: 10px auto;
 background-color: #495057;
 border: 1px solid #495057;
 color: #2b3c4d;
}

.btn-primary {
 height: 50px;
 width: 120px;
 margin: 10px auto;
 border-color: #66034d !important;
 background-color: #66034d !important;
}

.btn-primary:hover {
 height: 60px;
 width: 140px;
 border-width: 10 ;
 border-color: #fff !important;
}

h1 {
 font-family: "Roboto", sans-serif;
 font-weight: 200;
 font-size: 100px !important;
 color: #241821;
 text-shadow: 2px 2px 4px #c40494;
 letter-spacing: 6px;
}

.container {
 text-align: center;
 margin-top: 10%;
}
